
<div class="container">
     <div class="row">
        <h1>Please enter your information</h1>
        <p>(By entering your information you're RSVP'd)</p>
        <hr>
    <form action="" class="information">
        <label for="firstName"><b>Guest Name</b></label>
        <input type="text" placeholder="Enter Your Guest Name" class="singup-inoform" name="name" required>
       
    
        <label for="psw"><b>Food</b></label>
        <input type="food" placeholder="Enter food you like to eat" class="singup-inoform" name="psw" required>

        <select class="singup-inoform" id="select-1">
            <option value="+1">+1</option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select>
    
        <button type="submit" class="sign">submit</button>
    </form>
    </div>
 </div>

