<main class="d-flex justify-content-center" id="main-holder">
    <form id="login-form">
        <h1 id="login-header">Login</h1>
        <input type="text" name="username" id="username-input-login" class="login-form-field" placeholder="Username">
        <input type="password" name="password" id="password-input-login" class="login-form-field"
            placeholder="Password">
        <button class="v2-button primary-button button-disabled margin-top-2x" type="submit" id="login-btn">Login</button>
        <p class="terms-now">
            Don't have an account?
            <button type="black" class="signup" type="button"><a href="/signup">Sign up now</a></button>
        </p>
    </form>
</main>

<script src="/js/login.js"></script>