<main class="d-flex justify-content-center" id="main-holder">  
<form id="login-form">
    <h1 id="login-header">Login</h1>
    <input type="text" name="username" id="username-field" class="login-form-field" placeholder="Username">
    <input type="password" name="password" id="password-field" class="login-form-field" placeholder="Password">
    <button class="v2-button primary-button button-disabled margin-top-2x" id="submit">Login</button>
    <a class="btn" target="_blank" href="#" id="password">Forge Password?</a>
    <p class="terms-now">
        Don't have an account?
        <button targe="black" class="signup" type="button">Sign Up Now</button>
    </p>
</form>  
</main>
<script src="/public/js/login.js"></script>