<div class="container">
    <div class="row">
<form action="" class="information">
    <label for="firstName"><b>Your name</b></label>
    <input type="text" placeholder="Enter Your Username" class="singup-inoform" name="name" required>

    <label for="firstName"><b>Spouse Name</b></label>
    <input type="text" placeholder="Enter Your Spouse Name" class="singup-inoform" name="name" required>

    <label for="firstName"><b>Venue Location</b></label>
    <input type="Location" placeholder="Enter Your Location" class="singup-inoform" name="name" required>

    <label for="firstName"><b>Venue Name</b></label>
    <input type="text" placeholder="Enter Your Venue" class="singup-inoform" name="name" required>

    <label for="firstName"><b>Date Of Weeding</b></label>
    <input type="Date" placeholder="" class="singup-inoform" name="name" required>

    
    <button type="submit" class="sign">submit</button>
</form>
</div>
</div>