<div class="container">
  <div class="row">
    <form action="" class="information" id="questions-form">
      <label for="firstName"><b>Your first name</b></label>
      <input type="text" placeholder="Enter Your Username" class="singup-inoform" name="firstName" id="firstName" required>
      
      <label for="firstName"><b>Spouse's first name</b></label>
      <input type="text" placeholder="Enter Your Spouse Name" class="singup-inoform" name="spouse-name" required>

      <label for="firstName"><b>Date of wedding</b></label>
      <input type="text" placeholder="" class="singup-inoform" name="wedding-date">

      <label for="firstName"><b>Venue name</b></label>
      <input type="text" placeholder="Enter Your Location" class="singup-inoform" name="venue-name">

      <label for="firstName"><b>Venue location</b></label>
      <input type="text" placeholder="Enter Your Venue" class="singup-inoform" name="venue-location">

      <button type="submit" class="sign">submit</button>
    </form>
  </div>
</div>

<script src="/js/questions.js"></script>
