<div class="container">
     <div class="row">
        <h1>Sign Up</h1>
        <p>Create an account, so we can save your preferences.</p>
        <hr>
    <form action="" class="information">
        <label for="firstName"><b>Username</b></label>
        <input type="text" placeholder="Enter Your Username" class="singup-inoform" name="name" required>
       
    
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" class="singup-inoform" name="psw" required>
    
        <button type="submit" class="sign">submit</button>
    </form>
    </div>
 </div>