    <div class="container">
        <div class="row">
            <h1>Sign Up</h1>
            <p>Create an account, so we can save your preferences.</p>
            <hr>
            <form action="" class="information" id="signup-form">
                <label for="username-input-signup"><b>Username</b></label>
                <input type="text" placeholder="Enter Your Username" class="singup-inoform" name="name" id="username-input-signup" required>


                <label for="password-input-signup"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" class="singup-inoform" name="psw" id="password-input-signup" required>

                <button type="submit" class="sign">submit</button>
            </form>
        </div>
    </div>
    <script src="/js/signup.js"></script>
